{% extends "loreverse/layout.html" %}

{% block body %}

<h2>My Stories</h2>

{% if stories %}
    {% for story in stories %}
        <h3>{{ story.title }}</h3>
        <p>{{ story.description }}</p>

        {% if story.published %}
            <p>Published</p>
        {% else %}
            <p>Draft</p>
        {% endif %}

        {% if not story.published %}
              <form method="post" action="{% url 'publish_story' story.id %}">
                    {% csrf_token %}
                    <button type="submit">Publish</button>
                </form>
        {% endif %}
        
        <a href="{% url 'edit_story' story.id %}">Edit</a>
        <a href="{% url 'delete_story' story.id %}">Delete</a>
        <hr>
    {% endfor %}
{% else %}
    <p>You haven't created any stories yet.</p>
{% endif %}

{% endblock %}